.navbar
{
    display: flex;
    flex-direction: row;
    gap : 20px;
    font-size: 30px;
}
@font-face {
    font-family: 'Poppins';
    src: url('../Poppins-Thin.ttf') format('woff2'), /* Format Web Open Font Format 2 */
    /* Ajoutez d'autres formats si nécessaire */
  }
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url(../Poppins-ExtraBold.ttf);
}
.title
{
   font-family: "Poppins-ExtraBold";
   font-weight: bold;
    font-size: 40px;
}
.button_start
{
   color: white; 
    background-color:#4ECDC4;
    font-family: "Poppins-ExtraBold";
    width: 300px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 1000;
    
}
.texte1
{
   width : 60%;
   color: white;
   margin-top: 50px;
   margin-left: 50px;
}
.texts 
{
    margin-left: 40px;
 margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap : 20px;
  color : white;
}
.white_part
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-bottom: 30px;
}
.blue_part
{
    
    height: 50vh;
    display: flex;
    flex-direction: row;
    gap : 80px;
    background-color: #292F36;

}

.white_nav 
{
    height: 50vh;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: space-between;
    background-color:#D9D9D9;
}  
.circle1
{
    border-radius: 50%;
}
.circle2
{
    border-radius: 50%;
}

.feuille
{
    background-color: #292F36;
    color: #292F36;
}