.navbar
{
    display: flex;
    flex-direction: row;
    gap : 20px;
    font-size: 30px;
}
@font-face {
    font-family: 'Poppins';
    src: url('../Poppins-Thin.ttf') format('woff2'), /* Format Web Open Font Format 2 */
    /* Ajoutez d'autres formats si nécessaire */
  }
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url(../Poppins-ExtraBold.ttf);
}
.title
{
   font-family: "Poppins-ExtraBold";
   font-weight: bold;
    font-size: 40px;
}
.button_start
{
   color: white; 
    background-color:#4ECDC4;
    font-family: "Poppins-ExtraBold";
    width: 400px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 1000;
    margin-bottom: 20px;
    
}
.texte1
{
    margin-top:25px ;
   width : 50%;
   color: white;
   text-align: justify;
   margin-left: 50px;
  
}
.texts 
{
    margin-left: 40px;
 margin-top: 150px;
  display: flex;
  flex-direction: row;
  gap : 20px;
  color : white;
}
.white_part
{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;
   gap : 150px;
}
.whole_page
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;


}
.blue_part
{
    
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width :80%;
    gap : 80px;
    background-color: #292F36;
    width: 100%;

}

.white_nav 
{
    height: 80vh;
    display: flex;
    flex-direction: column;
   align-items: center;
    background-color:#D9D9D9;
    justify-content: space-between;
    width: 100vw;
    padding-bottom: 50px;
}  
.circle1
{
    border-radius: 50%;
}
.circle2
{
    border-radius: 50%;
}

.feuille
{
    background-color: #292F36;
}

.photo
{
    position: absolute;
    bottom: 0px;
    right: -50px;
}

.background
{
    background-color: #292F36;
    height: 100vh;
    
}

.background p
{
    color : white
}

.input-field {
    background-color: #292f36; /* Fond du champ */
    border: 1px solid white; /* Bordure blanche */
    color: rgba(255, 255, 255, 0.7); /* Texte blanc avec opacité faible */
    padding: 8px; /* Espacement intérieur */
    border-radius: 4px; /* Arrondi des coins */
  }
.inputs
{
    display: flex;
    margin-bottom: 0.5rem;
    background-color: #292F36;
    stroke: white solid;
}
.inputs1
{
text-align: center;
font-size: 1.5rem; /* ou 24px */
font-weight: 600;
font-family: 'Poppins', sans-serif;
margin-bottom: 1rem; /* ou 16px */
 background-color: #292F36;
 stroke : white solid;
}